<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /cos30043/s104565600/hypersprint/
  
  # If the requested path is a real file or folder, serve it directly
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Otherwise, route all requests back to index.html for Vue Router to handle
  RewriteRule ^ index.html [L]
</IfModule>
